<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PN_DelayWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PN_DelayWPF.Properties.Settings>
            <setting name="Interface1" serializeAs="String">
                <value />
            </setting>
            <setting name="Interface2" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter1" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter2" serializeAs="String">
                <value />
            </setting>
        </PN_DelayWPF.Properties.Settings>
    </userSettings>
</configuration>